@font-face {
    font-family: "FuturaDemiC";
    src: local("FuturaDemiC"), url("./assets/fonts/bigfontsite.com_futurademic-opentype.otf") format("opentype");
}

@font-face {
    font-family: "FuturaBookC";
    src: local("FuturaBookC"), url("./assets/fonts/copyfonts.com_futurabookc-opentype.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    src: local("Proxima Nova"), url("./assets/fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf") format("truetype");
}