@import "fonts";

//colors
$yellow: #e3b873;
$dark: #131313;
$light: #ffffff;
$gray: rgba(255, 255, 255, 0.3);

body {
  overflow-x: hidden;
}

.header-container {
  width: 100%;
  background: $dark;
}
.header {
  width: 87.34%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 83px;
  background: $dark;
  font-family: "FuturaDemiC";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  @media (max-width: 375px) {
    justify-content: space-between;
    width: 90.93%;
    height: 57px;
    font-size: 12px;
    line-height: 14px;
  }
}

.logo {
  width: 16%;
  color: $yellow;
  font-size: 14px;
  line-height: 16px;
  margin-right: 6.6%;
  @media (max-width: 375px) {
    margin-right: 0;
    width: 46.93%;
    font-size: 12px;
    line-height: 14px;
  }
}

.navbar {
  width: 581.43px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__link {
    color: $light;
    text-decoration: none;
  }

  &__link_active {
    color: $yellow;
  }

  &__link-secondary {
    color: $gray;
  }

  &__link-secondary_active {
    border-bottom: 1px solid $yellow;
    color: $yellow;
    padding-bottom: 5px;
  }

  @media (max-width: 375px) {
    display: none;
  }
}

.phone-number {
  margin-left: 45px;
  text-decoration-line: underline;
  color: $yellow;
  padding-right: 3.13%;
  @media (max-width: 375px) {
    margin: 0;
    padding: 0;
    color: $light;
    text-decoration: none;
  }
}

.button {
  color: $light;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  font-family: "FuturaDemiC";
  border-radius: 2px;
  text-decoration: none;

  &_request {
    background: $yellow;
    padding: 13px 33px;
    @media (max-width: 375px) {
      display: none;
    }
  }

  &_calculate {
    background: $yellow;
    padding: 19px 41px;
    font-size: 13px;
    line-height: 15px;
    margin-right: 20px;
    @media (max-width: 375px) {
      margin: 0;
      margin-bottom: 26px;
      padding: 19px 70px;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
    }
    
  }

  &_submit {
    padding: 19px 22px;
    font-size: 13px;
    line-height: 15px;
    border: 1px solid $light;
    box-sizing: border-box;
    @media (max-width: 375px) {
      margin: 0;
      padding: 19px 84px;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      &_mobile {
        display: none;
      }
    }
  }

  &_box {
    background: $yellow;
    padding: 17px 21.44px;
    font-family: "Yeseva One";
    font-size: 18px;
    height: 21px;
    text-transform: uppercase;
    color: $light;
    border-radius: 0px;
    width: 195px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
    margin-bottom: -28px;
    @media (max-width: 375px) {
      margin: 0;
      padding: 11.36px 19.21px;
      font-size: 15px;
      line-height: 21px;
      text-align: center;
    }
  }
}

.welcome {
  display: flex;
}

.instagram {
  width: 5.7%;
  height: 658px;
  background: $dark;

  &__link {
    position: absolute;
    text-decoration: none;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 211px;
    color: $yellow;
    transform: rotate(90deg);
  }

  &__vector {
    position: absolute;
    width: 51px;
    transform: rotate(90deg);
    border-top: 1.5px solid $yellow;
    margin-top: 292px;
    margin-left: 13px;
  }

  @media (max-width: 375px) {
    display: none;
  }
}

.image {
  background: url("./assets/images/image\ 4.3.jpg");
  background-size: cover;
  width: 94.3%;
  display: grid;
  @media (max-width: 375px) {
    background: url("./assets/images/mobbgtop.png");
    width: 100%;
    height: 476px;
    align-items: center;
  }
}

.article {
  align-self: center;
  margin-left: 4.17%;

  &__title {
    font-family: "Yeseva One";
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: $light;
  }

  &__title_city-name {
    color: $yellow;
  }

  &__text {
    font-family: "FuturaBookC";
    font-size: 22px;
    line-height: 30px;
    color: $light;
    margin-bottom: 70px;
  }

  @media (max-width: 375px) {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 18px 0 18px;
    &__title {
      margin: 0;
      margin-bottom: 16px;
      font-size: 23px;
      line-height: 31px;
    }

    &__text {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
}

.scroll-text {
  position: absolute;
  z-index: 1;
  margin-top: -58px;
  padding: 40px 78px 40px 48px;
  background: $dark;
  text-decoration: none;
  font-family: Yeseva One;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: $light;
  @media (max-width: 375px) {
    display: none;
  }
}

.scroll-button {
  padding: 9px 10px;
  border: 1.5px solid $yellow;
  border-radius: 50%;
  margin-left: 12px;
  color: $yellow;
  @media (max-width: 375px) {
    display: none;
  }
}

.projects-container {
  background: $dark;
  position: relative;
}

.completed-projects {
  height: 946px;
  display: flex;
  width: 100%;
  @media (max-width: 375px) {
    height: 724px;
    display: block;
    border: 0;
  }
}

.projects-navbar {
  padding-top: 107px;
  width: 43.32%;
  margin-right: 15.51%;
  float: right;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  z-index: 1;
}

.projects-text {
  width: 30.74%;
  margin-left: 6.95%;
  padding-top: 60px;
  z-index: 1;
  @media (max-width: 375px) {
    display: block;
    padding-top: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 34px;
  }
  
  
  &__title {
    font-family: "Yeseva One";
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $yellow;
    @media (max-width: 375px) {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
  }
  
  &__description {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: $light;
    @media (max-width: 375px) {
      width: 82.93%;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      margin: 0 auto;
      margin-top: 22px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

  }
}

.information-title {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $yellow;
  @media (max-width: 375px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.information-text {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: $light;
  @media (max-width: 375px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 34px;
  @media (max-width: 375px) {
    font-size: 14px;
    line-height: 19px;
    padding-left: 18px;
    margin-bottom: 27px;

    &_top {
      margin-top: 36.64px;
    }
  }
}

.projects-images {
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  width: 845px;
  height: 482px;
  padding-top: 60px;
  margin-left: 48px;
  z-index: 1;
  @media (max-width: 375px) {
    display: none;
  }

  &__image:nth-child(2) {
    margin-right: 20px;
  }

  &_mobile {
    display: none;
  }

}

.project-images_mobile {
  display: none;

  @media (max-width: 375px) {
    display: flex;
    justify-content: center;
    position: relative;
    &__image {
      width: 90.67%;
      height: auto;
      margin-top: 36px;
    }
    &__flat {
      margin-top: 0px;
    }

  }

}

.slider-buttons__left {
  position: absolute;
  display: none;
  height: 85px;
  top: 46.5%;
  left: 25px;
  cursor: pointer;
  @media (max-width: 375px) {
    display: block;
    height: 36px;
    top: 50%;
    left: 32px;
    &_flat {
      top: 43%;
    }
  }
}

.slider-buttons__right {
  position: absolute;
  height: 85px;
  top: 46.5%;
  right: 25px;
  cursor: pointer;
  @media (max-width: 375px) {
    height: 36px;
    top: 50%;
    right: 32px;
    &_flat {
      top: 43%;
    }
  }
}

.pagination {
  margin: auto;
  margin-top: 130px;
  text-align: center;
  position: relative;
  z-index: 1;
  @media (max-width: 375px) {
    display: none;
  }

  &__dot {
    position: relative;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    margin: 0 4px;
    transition: 0.3s;

    &--active {
      background: $light;
      border: 2px solid $light;
    }

    &:hover {
      transition: 0.3s;
      border-color: rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.arrow-left {
  margin-right: 30px;
  cursor: pointer;
}

.arrow-right {
  margin-left: 30px;
  cursor: pointer;
}

.video-form-container {
  width: 100%;
  text-align: center;
  margin-top: -305px;
  @media (max-width: 375px) {
    display: block;
    height: 885px;
    border: 0;
    background: $dark;
    margin: 0;
  }
}

.video-title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: $light;
  @media (max-width: 375px) {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    &_next {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.video-logo {
  margin-bottom: 30px;
  @media (max-width: 375px) {
    margin-bottom: 40px;
  }
}

.video {
  position: relative;
  width: 56.81%;
  height: 434px;
  @media (max-width: 375px) {
    width: 90.67%;
    height: 207px;
  }
}

.video-dash {
  margin-top: 50px;
  margin-bottom: 30px;
  @media (max-width: 375px) {
    margin-top: 28px;
    margin-bottom: 21px;
  }
}

.video-description {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  color: #363636;
  width: 47.35%;
  margin: 0 auto;
  margin-bottom: 91px;
  @media (max-width: 375px) {
    width: 90.67%;
    margin-bottom: 61px;
    font-size: 14px;
    line-height: 24px;
    color: $light;
    &_next {
      display: none;
    }
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 39px;
  width: 100%;
  @media (max-width: 375px) {
    flex-direction: column;
    margin-bottom: 0px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  @media (max-width: 375px) {
    &_contact-row {
      margin-bottom: 63px;
    }
    &:nth-child(3){
      color: $light;
      order: 4;
    }
    &:nth-child(4){
      order: 3;
      margin: 0 0 36px 0;
    }
  }
  
  &__input {
    padding-bottom: 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    font-family: "FuturaBookC";
    outline: none;
    background: none;
    @media (max-width: 375px) {
      width: 100%;
      margin: 6.49px 0 63px 0;
      padding-bottom: 8px;
      border-bottom: 1px solid $light;
      &_mob {
        margin: 6.49px 0 26.54px 0;
      }
    }
  }

  &__input::placeholder {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    @media (max-width: 375px) {
      color: $light;
    }
  }

  &__input_condition {
    width: 408px;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  &__input_condition::placeholder {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 24px;
    color: $light;
  }

  &__input_contact {
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 0;
    margin: 0;
    color: $light;
  }
  &__input_contact_row {
    width: 231px;
    @media (max-width: 375px) {
      width: 100%;
    }
  }

  &__input_contact::placeholder {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 24px;
    color: $light;
  }

  &__label {
    justify-self: start;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
    @media (max-width: 375px) {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__label_condition {
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__submit {
    background: $yellow;
    padding: 13px 33px;
    width: 200px;
    color: $light;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    @media (max-width: 375px) {
      width: 100%;
    }
  }


  &__submit_next {
    margin: 0 auto;
  }
}

.video-form {
  width: 53.55%;
  margin: 0 auto;
  @media (max-width: 375px) {
    width: 90.67%;
  }
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #181818;
  @media (max-width: 375px) {
    color: $light;
  }

  &_condition {
    color: $light;
  }

  &_centered {
    margin: 0 auto;
    margin-top: 33.24px;
    @media (max-width: 375px) {
      margin-top: 0;
    }
  }
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;

  &_next {
    left: 105px;
    @media (max-width: 375px) {
      left: 0;
    }
  }
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #e3b873;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.repair-main-container{
  @media (max-width: 375px) {
    background: $dark;
  }
}

.repair-types-container {
  width: 85.95%;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 375px) {
    width: 90.67%;
    height: 1816px;
  }

  &_next {
    @media (max-width: 375px) {
      height: auto;
    }
  }
}

.type-header-title {
  font-family: "Yeseva One";
  margin: 147px 0 13px 0;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  @media (max-width: 375px) {
    padding: 83px 0 17px 0;
    margin: 0;
  }

  &_next {
    margin: 112.5px 0 13px 0;
    @media (max-width: 375px) {
      padding: 0;
      padding-top: 52px;
      font-size: 22px;
      line-height: 138.6%;
      margin: 0;
      color: $light;
    }
  }
  

}

.repair-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 33px;
  @media (max-width: 375px) {
    display: block;
    margin-top: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 375px) {
      align-items: start;
    }
  }

  &__image {
    @media (max-width: 375px) {
      width: 100%;
    }
  }
}

.box {
  width: 330px;
  height: auto;
  margin-top: -127px;
  background: $light;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  @media (max-width: 375px) {
    display: block;
    text-align: start;
    margin-top: -142px;
    margin-bottom: 79px;
    width: 270px;
    height: auto;
  }

  &__title {
    text-align: start;
    padding: 25px 31px 0;
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    @media (max-width: 375px) {
      padding: 20px 31px 0;
      width: 100%;
      font-size: 15px;
      line-height: 21px;
    }
  }

  &__list {
    text-align: start;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    margin-bottom: 19px;
    @media (max-width: 375px) {
      margin-bottom: 24px;
      font-size: 13px;
      line-height: 22px;
    }
  }
}

.condition-details {
  height: 1087px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 375px) {
    display: none;
  }
}

.condition-form-container {
  width: 506px;
  height: 509px;
  margin-right: 100px;
  background: $dark;
  color: $light;
}

.condition-form {
  padding: 28px 49px;
}

.condition-row {
  margin-bottom: 48px;
  width: 408px;
  &:first-child {
    justify-content: center;
  }

  &:nth-child(3) {
    margin-bottom: 16px;
  }

  &:last-child {
    justify-content: flex-end;
  }
}

.form-title {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $light;
}

.sales {
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    margin-right: 25px;
  }

  &__title {
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    width: 344px;
    color: #e3b873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  }
}

.flat-types-container {
  height: 1018px;
  position: relative;
  @media (max-width: 375px) {
    background: linear-gradient( $light 63%, $dark 63% 80%);;
    height: auto;
  }
}

.flat-back-image {
  position: absolute;
  height: 864px;
  margin-top: 114px;
  z-index: -1;
  @media (max-width: 375px) {
    display: none;
  }

  &_size {
    width: 100%;
  }
}

.flat-items {
  padding: 0 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 375px) {
    display: block;
    padding: 0;
  }
}

.flat-information {
  margin-top: 144px;
  @media (max-width: 375px) {
    margin: 0;
  }

  &__title {
    font-family: "Yeseva One";
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $yellow;
    @media (max-width: 375px) {
      text-align: center;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    @media (max-width: 375px) {
      display: none;
    }
  }

  &__link {
    width: 180px;
    text-decoration: none;
    font-family: "Proxima Nova";
    font-size: 20px;
    line-height: 34px;
    color: $light;
    display: inline-block;
    margin-bottom: 25px;
  }
  &__link:hover {
    color: $yellow;
    cursor: pointer;
  }
  &__link_active {
    color: $yellow;
    border-bottom: 1px solid $yellow;
  }
}

.flat-images {
  height: 1018px;
  display: flex;
  @media (max-width: 375px) {
      display: none;
  }
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 21px;
  align-self: flex-end;

  &:last-child {
    align-self: start;
  }
}

.image-column {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
}

.flat-image:first-child,
.flat-image:nth-child(3) {
  margin-bottom: 40px;
}

.repair-description {
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
  @media (max-width: 375px) {
    font-size: 15px;
    line-height: 20px;
    color: $light;
  }

  &_next {
    margin-top: 23px;
    margin-bottom: 39px;
  }
}

.steps-container {
  display: flex;
  height: 1615px;
  background: $dark;
  margin-top: -425px;
  @media (max-width: 375px) {
    display: none;
  }
}

.steps-info {
  padding-top: 428px;
  padding-left: 100px;
  width: 340px;

  &__phrase {
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: $light;
  }

  &__header {
    margin-bottom: 92px;
    font-family: "Yeseva One";
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $yellow;
  }

  &__number {
    margin-bottom: 22px;
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $light;
  }

  &__title {
    margin-bottom: 16px;
    font-family: "Yeseva One";
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: $yellow;
  }

  &__text {
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: $light;
  }
}

.steps-table {
  padding: 515px 100px 44px 136px;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 766px;
    margin-bottom: 36px;
  }
  &__column {
    width: 122px;
  }

  &__title {
    font-family: "Yeseva One";
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__title_active {
    color: $light;
  }

  &__link {
    border-bottom: 1px solid rgba(227, 184, 115, 0.3);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: progress;
  }
  &__link_active {
    color: $light;
    border-bottom: 1px solid $yellow;
  }
  &__link:hover {
    border-bottom: 1px solid $yellow;
    color: $light;
    cursor: pointer;
  }
  &__text {
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__text_active {
    color: $light;
  }
}

.team-container {
  position: relative;
  height: 1938px;
  margin-top: -407px;
  text-align: center;
  @media (max-width: 375px) {
    height: auto;
    background: $dark;
    margin-top: 0;
    text-align: center;
  }
}

.team-leads {
  display: flex;
  justify-content: space-between;
  width: 76.38%;
  margin: 0 auto;
  @media (max-width: 375px) {
    flex-direction: column;
    width: 90.67%;
  }

  &__box {
    position: relative;
    width: 342px;
    height: 450px;
    @media (max-width: 375px) {
      width: 100%;
      margin-bottom: 54px;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
    height: 70px;
  }

  &__portrait {
    margin-top: 35px;
  }

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 54.5px;
    bottom: 0;
    width: 233px;
    height: 137px;
    background: $light;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  }

  &__name {
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181818;
    margin-bottom: 9px;
  }

  &__position {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
    margin-bottom: 19px;
  }

  &__experience {
    justify-content: flex-end;
    width: 200px;
    padding: 12px 16.5px;
    background: $yellow;
    font-family: "Yeseva One";
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $light;
    bottom: 0;
  }
}

.team-description {
  margin-bottom: 39px;
  
}

.team-dash {
  margin: 50px 0 17px 0;
  @media (max-width: 375px) {
    display: none;
  }
}

.buildings-image {
  position: absolute;
  bottom: 0;

  &_size {
    width: 100%;
  }

  @media (max-width: 375px) {
    display: none;
  }
}

.clients-container {
  @media (max-width: 375px) {
    display: none;
  }
}

.client-reviews {
  display: flex;
  justify-content: space-between;
  width: 1236px;
  margin: 0 auto;

  &__box {
    position: relative;
    width: 376px;
    height: 455px;
  }

  &__info {
    height: 428px;
    background: $light;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  }

  &__data {
    padding: 24px 32px 24px 20px;
  }

  &__order {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 293.75px;
    height: 54px;
    background: $yellow;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.7);
    font-family: "Yeseva One";
    font-size: 17px;
    line-height: 24px;
    color: $light;
    text-transform: uppercase;
  }

  &__size {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 107.09px;
    padding: 0 13.5px 0 13.5px;
    border-right: 0.75px solid $light;
  }

  &__duration {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 13.5px 0 13.5px;
    width: 130.66px;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 251px;
    font-family: "Yeseva One";
    font-size: 18px;
    line-height: 23px;
    color: #181818;
  }

  &__portrait {
    border-radius: 50%;
  }

  &__comment {
    margin-top: 12px;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 27px;
    text-align: left;
    color: #959595;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  height: 954px;
  background: url("./assets/images/footerbg.png");
  margin: 0 auto;
  @media (max-width: 375px) {
    width: 100%;
    background: $dark;
    height: auto;
  }
}

.contact-form-container {
  position: relative;
  margin: 0 auto;
  margin-top: 108px;
  width: 883px;
  height: 445.32px;
  background: $dark;
  @media (max-width: 375px) {
    margin: 0 auto;
    height: auto;
    width: 90.67%;
  }
}

.contact-form {
  height: 376.2px;
  padding: 34.4px 181.5px;
  color: $light;
  @media (max-width: 375px) {
    width: 100%;
    height: auto;
    padding: 0;
  }
}

.contact-row {
  margin-bottom: 46px;
  @media (max-width: 375px) {
    width: 100%;
    margin-bottom: 63px;
    &:first-child {
      margin-top: 30px;
      margin-bottom: 52px;
    }
  }
  
  &:nth-child(2) {
    display: flex;
    justify-content: space-between;
    @media (max-width: 375px) {
      display: block;
    }
  }
  
  &:nth-child(3) {
    @media (max-width: 375px) {
      margin-bottom: 22px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.address {
  padding-top: 300px;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: $yellow;
  @media (max-width: 375px) {
    width: 90.66%;
    padding-top: 42px;
    font-size: 18px;
    line-height: 25px;
    order: 2;
  }
}

.sn-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 71px;
  margin: 0 auto;
  margin-top: 25px;
  @media (max-width: 375px) {
    order: 3;
    margin-top: 23px;
    padding-bottom: 38px;
  }
  
  &__icon {
    cursor: pointer;
  }
  
}

.map {
  text-align: center;
  margin-top: 30px;
  @media (max-width: 375px) {
    order: 1;
    margin-top: 46px;
    &__image {
      width: 90.66%;
    }
  }
}

.footer {
  @media (max-width: 375px) {
    display: none;
  }
}

